# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/

# System files
.DS_Store

# Build output
dist/
dist-ssr/
coverage/
*.local

# Cypress artifacts
/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript build info
*.tsbuildinfo

# Test results
test-results/
playwright-report/

# Personal notes
.dev/notes/Personal.md
.dev/_book/

# Environment variables
*/.env