/* Media Queries */
@media screen and (max-width: 768px) {
 #app {
	/* background-color: var(--mint); */
 }

  .container {
    padding: 1rem;
  }

  .common-table {
    width: 100%;
  }

  .common-table th,
  .common-table td {
    font-size: 1rem;
    padding: 0.5rem;
  }



  .width-half {
    width: 50%;
  }

  .width-third {
    width: 33%;
  }
}

@media screen and (max-width: 480px) {
  .common-table th,
  .common-table td {
    font-size: 0.85rem;
    padding: 0.25rem;
  }

  .boxed {
    margin: 0.5rem;
    padding: 0.5rem;
  }

  .container {
    padding: 3rem;
  }
}