@media (max-width: 768px) {
  .footer-element {
    padding: 0.5rem;
  }

  .footer-text {
    margin: 0.5rem 0;
    font-size: 8px;
  }

  .main-content {
    padding: 1rem; /* Smaller padding for smaller screens */
  }

  .footer-element {
    font-size: 0.8rem; /* Adjust font size for smaller screens */
    height: auto; /* Adjust height for smaller screens */
  }

  .header {
    padding: 0.5rem; /* Adjust padding for smaller screens */
  }
}

@media (max-width: 480px) {
  .footer-element {
    font-size: 0.6rem; /* Adjust font size for smaller screens */
    height: auto; /* Adjust height for smaller screens */
    padding: 0 0.5rem; /* Adjust padding for smaller screens */
  }

  .header {
    padding: 0.5rem; /* Adjust padding for smaller screens */
  }
}

@media (max-width: 400px) {
  .footer-element {
    font-size: 0.5rem; /* Adjust font size for smaller screens */
    height: auto; /* Adjust height for smaller screens */
    padding: 0; /* Adjust padding for smaller screens */
  }

  .footer-text {
    margin: 0.5rem 0;
    font-size: 6px;
  }

  .header {
    padding: 0.35rem; /* Adjust padding for smaller screens */
    width: 60%;
  }
}
