/* Base card styles */
.content-card {
  background-color: var(--primary-panel-color);
    border: 1px solid #ddd;
  border-radius: 8px;
  display: grid;
  justify-content: center;
  padding: 16px;
  max-width: 100%;
  width: 600px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .content-card {
	padding: 8px;
  }
}



