.grid-container-column {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(1000px, 1fr));
  gap: 2rem;
}

.grid-container-row {
  display: grid;
  grid-template-rows: auto;
  gap: 2rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

.grid-default {
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

@media screen and (max-width: 768px) {
  .grid-container-column {
	grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }

  .grid-container-row {
	grid-template-rows: auto;
  }

  .grid {
	background-color: var(--secondary-background-color);
	gap: 1rem;
	z-index: 100;
  }

  .grid-default {
	grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }

}