.primary-button {
  display: block;
}

.header-logo {
  border-radius: 15px;
  width: 150px;
  height: 150px;
  float: left;
}

.nav-panel {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
gap: 1.5rem;
justify-content: center;
margin: 2rem auto;
padding: 1rem;
width: 90%;
max-width: 1200px;
box-shadow: var(--box-shadow);
}

.nav-panel.is-visible {
  display: flex;
}

@media (max-width: 768px) {
  .header-logo {
    width: 50px;
    height: 50px;
  }

  .nav-panel {
	background-color: var(--dark-slate-gray);
  }
}