@media (max-width: 768px) {
  .header-logo {
    width: 40px; /* Adjust width for smaller screens */
    height: 40px; /* Adjust height for smaller screens */
    left: 10px; /* Adjust position for smaller screens */
    top: 10px; /* Adjust position for smaller screens */
  }


  .nav-panel {
	background-color: var(--dark-slate-gray);
	gap: .5rem;
  }
}

@media (max-width: 480px) {
  .nav-panel {
	flex-direction: column; /* Stack items vertically */
	gap: 1rem; /* Add space between items */
	padding: 1.5rem; /* Add padding to the panel */
	width: 25%;
  }

  .nav-panel .primary-button {
	font-size: small;
	height: 50px;
  }
}

@media (max-width: 320px) {
  .header-logo {
	width: 30px; /* Adjust width for smaller screens */
	height: 30px; /* Adjust height for smaller screens */
	left: 5px; /* Adjust position for smaller screens */
	top: 5px; /* Adjust position for smaller screens */
  }

  .nav-panel {
	width: 25%;
	padding: 1rem; /* Adjust padding for smaller screens */
  }

  .nav-panel .primary-button {
	font-size: 8px;
}
}
