/* Responsive Design */
@media (max-width: 768px) {
  .product-card {
	height: 300px;
    padding: 15px;
  }

  .product-icon {
    width: 80px;
    height: 80px;
  }

  .product-name {
    font-size: 1.25rem;
  }

  .product-description {
    font-size: 0.9rem;
  }

  .product-price {
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  .product-card {
	height: 250px;
    padding: 10px;
  }

  .product-icon {
    width: 60px;
    height: 60px;
  }

  .product-name {
    font-size: 1rem;
  }

  .product-description {
    font-size: 0.8rem;
  }

  .product-price {
    font-size: 1rem;
  }
}