#app {
  font-family: var(--primary-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  /* padding: 1rem; */
}

a {
  color: var(--primary-link-color);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--secondary-font-family);
  font-weight: 400;
  margin: 1rem 0;
}

.background-primary {
  background-color: var(--primary-background-color);
}

.background-secondary {
  background-color: var(--secondary-background-color);
}

.boxed {
  border: 1px solid var(--primary-border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  margin: 1rem;
  padding: 1rem;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}

.colored-text-primary {
  color: var(--primary-text-color);
}

.colored-text-secondary {
  color: var(--secondary-text-color);
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.divider {
  border: none; /* Remove the default border */
  height: 3px; /* Increase the thickness */
  margin: 2rem auto; /* Adjust the margin for better spacing */
  background: linear-gradient(to right, var(--mint), var(--dark-slate-gray)); /* Gradient effect */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle shadow for depth */
  border-radius: 2px; /* Slightly round the edges */
  position: relative;
  width: 45%;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.height-min-50 {
  min-height: 50vh;
}

.height-min-100 {
  min-height: 100vh;
}

.pop {
  box-shadow: var(--box-shadow);
}

.flatten {
  box-shadow: none;
}

.inset {
  box-shadow: inset 3px 3px 10px rgba(251, 255, 0, 0.733);
}

/* Text Types */
.mini-text {
  font-size: 0.75rem;
}

.sm-text {
  font-size: 0.85rem;
}

.med-text {
  font-size: 1.5rem;
}

.large-text {
  font-size: 2rem;
}

/* Tables */
.common-table {
  border-collapse: collapse;
  margin: 1rem auto;
  width: 100%;
}

.common-table th {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-size: 1.5rem;
  padding: 1rem;
}

.common-table td {
  border: 1px solid var(--primary-border-color);
  color: var(--primary-text-color);
  font-size: 1.25rem;
  padding: 1rem;
}

/* Widths */
.width-full {
  width: 100%;
}

.width-half {
  width: 50%;
}

.width-third {
  width: 33%;
}

.vertical {
  flex-direction: column;
}

.horizontal {
  flex-direction: row;
}
