.contact-details li {
  list-style: none;
  margin: 10px 0;
}

.contact-details p {
  margin: 0;
}

.employee-card {
  display: flex;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  text-align: center;
}

.employee-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.employee-icon {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.employee-details {
  padding: 10px;
}

.employee-name {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  margin: 5px 0;
}

.employee-email {
  font-size: 0.9em;
  color: #777;
  margin: 5px 0;
}
