.clear {
	background-color: transparent !important;
}

.no-border {
  border: none !important;
}

.no-shadow {
  box-shadow: none !important;
}

.no-padding {
  padding: 0 !important;
}

.align-right-spaced {
	position: fixed;
	right: 5px;
}