/* Global Styles */
.body {
  background-color: var(--primary-background-color);
  flex-grow: 1;
  overflow-y: auto;
  padding: 1rem;
  flex: 1;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1em;
  background-color: #222;
  color: #fff;
  text-align: center;
}

.footer-section {
  margin: 0.5em 0;
}

.footer-nav {
  display: flex;
  justify-content: space-around;
}

.router-link:hover {
  text-decoration: underline;
}

.footer-brand p {
  font-size: 1.2em;
  font-weight: bold;
}

.header {
  background-color: var(--transparent-mint);
  border: var(--dark-slate-gray) solid 1px;
  border-radius: var(--border-radius);
  box-shadow: var(--primary-shadow);
  padding: var(--padding-medium);
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 1200px;
  z-index: 1000;
  transition: var(--transition);
  height: 50px;
}

.main-content {
  background-color: var(--main-content-background-color);
  padding: 3rem;
}

.main-layout {
  min-height: 100vh;
}
