/* Global Styles */
.body {
  background-color: var(--primary-background-color);
  flex-grow: 1;
  overflow-y: auto;
  padding: 1rem;
  flex: 1;
  padding-top: 60px; /* Adjust based on header height */
}

.footer {
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondary-background-color);
  margin: 0.5rem;
  padding: 0.33rem 1rem;
}

.footer-element {
  align-items: center;
  color: #fff;
  text-align: center;
  flex-wrap: wrap;
}

.footer-element strong,
.footer-element p {
  margin: 0;
  color: #ff9800;
}

.footer-text {
  font-size: 10px;
  text-decoration: none;
  color: #182b25;
  margin: 0 1rem;
  transition: color 0.3s;
}

.footer-text:hover {
  color: var(--white);
}

.header {
  background-color: var(--transparent-mint);
  border: var(--dark-slate-gray) solid 1px;
  border-radius: var(--border-radius);
  box-shadow: var(--primary-shadow);
  padding: var(--padding-medium);
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 1200px;
  z-index: 1000;
  transition: var(--transition);
  height: 50px;
}

.main-content {
  background-color: var(--main-content-background-color);
  padding: 3rem;
}

.main-layout {
  min-height: 100vh;
}
