.locations-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
	width: 25%;
}

.location-card {
    background-color: #f9f9f9;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    max-width: 250px;
}

.location-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.location-list li {
    color: #555;
    font-size: 18px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .locations-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .location-card {
    width: 45%;
    margin-bottom: var(--gap);
  }
}

@media (max-width: 480px) {
  .location-card {
    width: 100%;
    margin-bottom: var(--gap);
  }
}